@charset "UTF-8";
@font-face {
  font-family: "Circe";
  src: url(../fonts/circe.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Circe-extrabold";
  src: url(../fonts/circe-extrabold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Lemon";
  src: url(../fonts/Lemon.otf);
  font-weight: 400;
}

.askona {
  overflow-x: hidden;
  margin-left: 185px;
  font-family: "Circe";
  background: -webkit-gradient(linear, left top, right top, from(#22bfb8), to(#23e5dd));
  background: linear-gradient(to right, #22bfb8, #23e5dd);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Circe";
  font-size: 2.1vw;
  font-weight: 800;
  line-height: 145%;
  text-transform: uppercase;
  font-family: "Circe-extrabold";
}

.subtitle {
  font-family: "Circe";
  font-size: 1.7vw;
  font-weight: 800;
  line-height: 145%;
  text-transform: uppercase;
  font-family: "Circe-extrabold";
}

.text {
  font-family: "Circe";
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 145%;
}

.purple {
  color: #f84a93;
}

.white {
  color: white;
}

.weight {
  font-weight: 700;
}

.bezheviy {
  background-color: #fff3e3;
  padding-bottom: 15vw;
}

.header {
  position: relative;
  background-image: url(../images/header/header__main.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 6.4vw;
  margin-bottom: 2.9vw;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 1.35vw;
  left: 1.7vw;
}

.header__wrapper {
  position: relative;
  z-index: 15;
  padding-top: 7.8vw;
}

.header__textblock {
  max-width: 35.4vw;
}

.header__mainTitle {
  font-family: "Lemon";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 5vw;
  line-height: 120%;
  margin-bottom: 2.3vw;
  position: relative;
}

.header__o {
  position: absolute;
  left: 2.4vw;
  top: 6.4vw;
  width: 6vw;
}

.tasks {
  margin-bottom: 12.7vw;
  position: relative;
  z-index: 20;
}

.tasks__heartBlur {
  position: absolute;
  bottom: 6.5vw;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.tasks__wrapper {
  position: relative;
}

.tasks__heart {
  position: absolute;
  top: -5vw;
  right: 0;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2.6vw;
}

.tasks__item:last-child {
  max-width: 35vw;
}

.tasks__item-img {
  margin-right: 1.7vw;
}

.tasks__item-title {
  color: white;
  margin-bottom: 1.25vw;
}

.tasks__img {
  position: absolute;
  bottom: -5vw;
  right: 0;
}

.site {
  background-color: #fff3e3;
  position: relative;
  z-index: 15;
  margin-top: 10vw;
  padding-bottom: 3vw;
}

.site__topBG {
  position: absolute;
  top: -35vw;
  width: 90vw;
  right: 0;
}

.site__bottomBG {
  position: absolute;
  bottom: -10.5vw;
  width: 90vw;
}

.site__ellipses {
  position: absolute;
  right: 0;
}

.site__wrapper {
  position: relative;
  z-index: 10;
}

.site__title {
  text-align: center;
  margin-bottom: 2.6vw;
}

.slider .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li:not(:last-child) {
  margin-right: 2vw;
}

.slider .slick-dots .slick-active button {
  background-color: #f84a93;
}

.slider button {
  display: block;
  border-radius: 50%;
  font-size: 0;
  width: 1vw;
  height: 1vw;
  background-color: #27e2db;
  border: none;
  cursor: pointer;
}

.slider__item-img {
  margin: 0 auto;
  margin-bottom: 2vw;
}

.slider__item-text {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2vw;
}

.slider__item-text a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider__item-text a:hover {
  color: #f84a93;
}

.banners {
  background-color: white;
  position: relative;
  z-index: 10;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.banners__ellipses {
  position: absolute;
  top: 35vw;
}

.banners__title {
  text-align: center;
  margin-bottom: 2.6vw;
}

.banners__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.7vw;
}

.banners__item-list1:not(:last-child) {
  margin-right: 1.25vw;
}

.banners__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banners__item-list2:not(:last-child) {
  margin-right: 1.25vw;
}

.banners__item-title {
  margin-bottom: 1.2vw;
}

.banners__text {
  max-width: 23vw;
  margin-left: 9vw;
  margin-top: 2vw;
}

.map {
  position: relative;
  z-index: 15;
  margin-bottom: 4.3vw;
}

.map__topBG {
  position: absolute;
  top: -5vw;
  width: 90vw;
  z-index: 5;
}

.map__wrapper {
  padding-top: 5vw;
  position: relative;
  z-index: 10;
}

.map__titleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.4vw;
}

.map__title-img {
  margin-right: 1.7vw;
}

.map__content-title {
  text-align: center;
  color: #22bfb8;
  margin-bottom: 2.3vw;
}

.map__schema {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.5vw;
}

.map__arrow {
  position: absolute;
}

.map__arrow-left {
  left: 7vw;
  top: 12vw;
}

.map__arrow-top {
  top: 5.5vw;
}

.map__arrow-right {
  right: 7vw;
  top: 12vw;
}

.map__arrow-bottom {
  top: 15vw;
}

.map__schema__item {
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  background-color: #f84a93;
  border-radius: 30px;
  width: 25vw;
  text-align: center;
  padding: 1.5vw 3.125vw;
}

.map__schema__item:not(:last-child) {
  margin-bottom: 4.95vw;
}

.map__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__social-item {
  background-color: white;
  border-radius: 30px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 1.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__social-item:first-child .map__social-itemTitle {
  margin-bottom: 0.4vw;
}

.map__social-itemTitle {
  font-family: "Circe";
  font-weight: 800;
  font-size: 1.1vw;
  line-height: 145%;
  color: #f84a93;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.4vw;
}

.map__social-item-images2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__social-item-images2 .map__social-item-img:not(:last-child) {
  margin-right: 2vw;
}

.campaign__title {
  text-align: center;
  margin-bottom: 2.7vw;
}

.slider2 .slick-active button {
  background-color: white !important;
}

.slider2 button {
  background-color: #f84a93 !important;
}

.result {
  margin-top: -10vw;
  position: relative;
  z-index: 20;
}

.result__ellipses {
  position: absolute;
  right: 10vw;
  bottom: -5vw;
}

.result__title {
  text-align: center;
  color: #22bfb8;
}

.result__bg {
  width: 90vw;
}

.opinion {
  background-color: white;
  padding-top: 16vw;
  margin-top: -16vw;
  position: relative;
  z-index: 15;
}

.opinion__imgBottom {
  position: absolute;
  bottom: -23vw;
  left: 10vw;
}

.opinion__ellipses {
  position: absolute;
  right: 0;
  top: 45vw;
}

.opinion__bottomBG {
  position: absolute;
  bottom: -15vw;
  width: 100vw;
  -webkit-transform: scale(108%);
          transform: scale(108%);
}

.opinion__wrapper {
  position: relative;
  z-index: 15;
}

.opinion__titleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1vw;
}

.opinion__titleblock-img {
  margin-right: 1.7vw;
}

.opinion__content {
  margin-left: 6vw;
  width: 50.5vw;
}

.opinion__content:not(:last-child) {
  margin-bottom: 5vw;
}

.opinion__content-titleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f84a93;
  border-radius: 50px;
  padding: 0.3vw 0.3vw;
  width: 28vw;
  margin-bottom: 1.5vw;
}

.opinion__content-img {
  margin-right: 0.5vw;
}

.opinion__content-text {
  font-weight: 700;
}

.opinion__text {
  margin-bottom: 2vw;
}

.team {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#22bfb8), to(#23e5dd));
  background: linear-gradient(to right, #22bfb8, #23e5dd);
  padding-top: 20vw;
  z-index: 10;
  padding-bottom: 5vw;
}

.team__bottomBG {
  position: absolute;
  top: -2vw;
  width: 100vw;
  -webkit-transform: scale(108%);
          transform: scale(108%);
}

.team__wrapper {
  padding-top: 5vw;
}

.team__title {
  text-align: center;
  color: white;
  margin-bottom: 2.7vw;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  background-color: white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0.3vw;
  margin-bottom: 1vw;
}

.team__item:nth-child(10) {
  margin-right: 1vw;
}

.team__item:nth-child(11) {
  margin-left: 1vw;
}

.team__item-img {
  margin-right: 1vw;
}

.team__item-textblock {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item-title {
  text-transform: uppercase;
  color: #f84a93;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 12px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #fff3e3;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #23e5dd;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
